* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


/* Nav */

.nav {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  background-color: #be3144;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%)
}

.logo {
  height: 65px;
  width: auto;
  margin-left: 20px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  padding: 0 20px;
  font-size: 1.6rem;
}

.nav-list a {
  text-decoration: none;
  color: white;
}


/* Welcome section */

.welcome-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  text-align: center;
}

.welcome-section h1 {
  padding-top: 200px; /* нужно сместить текст в середину*/
  color: white;
  font-size: 4.7rem;
}

.welcome-section p {
  color: #be3144;
  font-style: italic;
  font-size: 2.2rem;
}


/* Projects */

.projects-section {
  background-color: #45567d;
}


/* Contact */

.contact-section {
  background-color: #303841;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #be3144;
  padding: 18px;
  background-color: #303841;
  color: #fff;
}

footer p {
  margin: 20px;
}