* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


/* Nav */

.nav {
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  background-color: #be3144;
  align-items: center;
  position: fixed;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%)
}

.logo {
  height: 90%;
  width: auto;
  margin-left: 20px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
}

.nav-list a:hover {
  background-color: #45567d;
}


/* Welcome section */

.welcome-section {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-section h1 {
  color: white;
  font-size: 4.7rem;
}

.welcome-section p {
  color: #be3144;
  font-style: italic;
  font-size: 2.2rem;
}


/* Projects */

.projects-section {
  background-color: #45567d;
  padding: 60px 40px;
}

.projects-section-header {
  color: #fff;
  padding-bottom: 14px;
  font-size: 2.5rem;
  border-bottom: 2px solid #fff;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.project {
  width: 450px;
  height: 480px;
  margin: 30px 20px;
  text-decoration: none;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.project-image {
  width: 100%;
  height: 430px;
  object-fit: cover;
  display: block;
}

.project-title {
  height: 50px;
  text-align: center;
  background-color: #303841;
  display: block;
  color: #f0f0f0;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact-section {
  background-color: #303841;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
}

.contact-section-header {
  color: #fff;
}

.contact-section-header h2 {
  font-size: 5rem;
  text-align: center;
}

.contact-section-header p {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.contact-links {
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 1.8rem;
}

.contact-links a:hover {
  position: relative;
  top: 10px;
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #be3144;
  padding: 18px;
  background-color: #303841;
  color: #fff;
}

footer p {
  margin: 20px;
}

@media screen and (max-width: 550px) {
  .nav {
    flex-direction: column;
    height: 96px;
  }

  .logo {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-list a {
    font-size: 1.3rem;
  }
}